@import "./variable";

body {
  font-family: $primaryText;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/* Nascondi thumb e scroll bar per WebKit */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Nascondi thumb e scroll bar per Firefox */
::-moz-scrollbar {
  width: 0;
  height: 0;
}


.hide-scrollbar {
  /* hide scrollbar but allow scrolling */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}