@import "../../styles/partials/variable";

.life-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: $white;
  
    span {
      font-size: 3rem;
      margin: 20px;
 
    }
  
    button {
      margin: 10px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: $white;
      font-size: 4rem;
      background: transparent;  
    }


    .delta{
        font-size: 2rem;
    }
  }
  