.versus-grid-container{

    display: flex;
    flex-direction: column;
    height: 100vh; /* Altezza del viewport per occupare tutta la pagina */
    position: absolute;
    overflow: scroll;


    .versus-grid-card{

        display: flex;
        flex-direction: column;
        justify-content: center;

        img{
            max-width: 100%;
            height: auto;
            width: 100%;
            max-height: 228px;
        }
    }
}


