@import "../../styles/partials/variable";


.versus-grid-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  width: 100vw;
}



.versus-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  background: $bg-90-gradient;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 8px 0px;
  width: 100%;
  // animation: gradientAnimation 3s ease infinite;
  background-size: 400% 400%;


  img{
    width: 84px;
    height: 84px;
  }

}


  